:root {
  --font-text: "Arial", sans-serif;
  --font-title: "Georgia", Serif;
  --color-one: #ffffff;
  --color-two: #f1cdb3;
  --color-three: #292929;
  --color-four: #c4c4c4;
  --color-six: #545454;
  --color-seven: #4c4c4c;
  --color-eight: #fafafa;
  --color-background: #f6f6f6;
}

@font-face {
  font-family: "font_Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "font_Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  font-family: var(--font-title);
  font-weight: normal;
  font-size: 44px;
  color: var(--color-one);
}

h3 {
  font-family: var(--font-title);
  font-weight: normal;
  font-size: 35px;
  color: var(--color-six);
  letter-spacing: 2.1px;
  line-height: 45px;
}

button {
  padding: 0;
  cursor: pointer;
}

button:hover {
  background: rgba(253, 220, 196, 1);
  border: solid rgba(253, 220, 196, 1);
  transition: 1s;
}

.popup {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

.close {
  position: relative;
  left: 100%;
  width: 52px;
  height: 52px;
  border: 2px solid rgba(241, 205, 179, 1);
  border-radius: 50%;
  background: transparent;
}

.hover {
  background: rgba(253, 220, 196, 1);
  border: solid rgba(253, 220, 196, 1);
  transition: 1s;
}

.popup-container {
  width: 900px;
  background: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.popup-overlay:hover {
  cursor: pointer;
}

.image {
  width: 500px;
}

.pets-text {
  padding: 50px 20px 80px 20px;
}

.popup-title {
  padding-bottom: 10px;
  color: #000000;
}

.popup-subtitle {
  padding-bottom: 40px;
  font-family: var(--font-title);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.popup-information {
  padding-bottom: 40px;
  font-family: var(--font-title);
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 1.1px;
}

.popup-list {
  list-style: disc;
  list-style-position: inside;
  color: rgba(241, 205, 179, 1);
}

.popup-item {
  padding-bottom: 10px;
  font-family: var(--font-title);
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.color {
  color: #000000;
}

.lock {
  overflow: hidden;
}
.active {
  display: block;
}

._active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header-background {
  background-size: 100%;
  background-color: var(--color-one);
}

.header-container {
  padding: 30px 40px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-title);
  color: var(--color-six);
  padding-bottom: 9px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
}

.subtitile {
  font-family: var(--font-text);
  color: var(--color-three);
  font-size: 13px;
  letter-spacing: 1.3px;
  padding-left: 4px;
}

.logo {
  height: 60px;
  width: 200px;
}

.logo-nav {
  display: none;
}

.burger {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 36px;
  color: var(--color-six);
}

.nav_link {
  font-family: var(--font-text);
  font-size: 15px;
}

.nav_link:hover {
  color: var(--color-three);
}

.nav_item:nth-child(2) {
  border-bottom: 3px var(--color-two) solid;
  padding-bottom: 2px;
  color: var(--color-three);
}

.main-background {
  background-size: 100%;
  background-color: var(--color-background);
}

.friends-container {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 100px;
}

.friends-title {
  padding-left: 2px;
  margin-bottom: 60px;
  width: 30rem;
  align-self: center;
  text-align: center;
}

.friends-wrapper {
  margin-bottom: 59px;
}

.pets-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 40px;
}

.prev-button {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: var(--color-two) solid 2px;
}

.pet_item {
  width: 270px;
  height: 435px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-eight);
  gap: 30px;
  cursor: pointer;
}

.pet_item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-one);
}

.pet_item:hover button {
  background: rgba(253, 220, 196, 1);
  border: solid rgba(253, 220, 196, 1);
  transition: 1s;
}

.pet__name {
  font-family: var(--font-title);
  color: var(--color-six);
  font-size: 20px;
  letter-spacing: 1px;
}

.learn__more {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px var(--color-two) solid;
  font-family: var(--font-title);
  font-size: 17px;
  color: var(--color-three);
  letter-spacing: 0.96px;
  background: transparent;
}

.next-button {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: var(--color-two) solid 2px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.friends-button {
  font-family: var(--font-title);
  font-size: 20px;
  color: var(--color-three);
  text-align: center;
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: 2px var(--color-two) solid;
  background-color: #f1cdb3;
  align-self: center;
  background-color: transparent;
  border: 2px var(--color-two) solid;
  color: var(--color-three);
}

.friends-button:nth-child(3) {
  background-color: var(--color-two);
  cursor: auto;
}

.friends-button:disabled {
  background-color: transparent;
  border: 2px #cdcdcd solid;
  color: #cdcdcd;
  cursor: default;
}

.footer-background {
  background: url(../../assets/images/transparent/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}

.footer-wrapper {
  display: flex;
  padding: 40px 40px 0;
  gap: 160px;
}

.footer-title {
  color: #ffffff;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.info-location {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.footer-icons {
  height: 32px;
}

.footer-info {
  font-family: var(--font-title);
  color: var(--color-two);
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.1px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 37px;
  padding-top: 18px;
}

.location {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 32px;
  padding-top: 18px;
}

.footer-dog {
  background-image: url(../../assets/images/footer-puppy.png);
  height: 310px;
  width: 300px;
}